body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #434440;
  line-height: 1.2;
}

h1 {
  font-family: "Georgia", serif;
  color: #ffffff;
}

h2 {
  font-family: "Georgia", serif;
  color: #ffffff;
}
h3 {
  font-family: "Georgia", serif;
  color: #ffffff;
}

p {
  font-family: "Georgia", serif;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #0056b3;
}

#blog {
  border-top: 1px dotted #ccc;
}

.blogpost {
  border-bottom: 1px dotted #ccc;
}

tr:nth-child(even) {
  background-color: #b4b3b3;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

